.grid{
	height: 470px;
	
}
/*侧边栏部分*/
.grid-col1{
	width: 190px;
	height: 100%;
	background-color: #6e6566;
	color: #fff;
	font-size: 14px;
	position: relative;
}
.bg{
	width: 1920px;
	height: 470px;
	position: absolute;
	top: 0;
	left: -365px;
	z-index:-1;
}
.ad-r {
	width: 0;
	position: absolute;
	background: url(..images/ad.r.jpg);
	z-index: 999;
	top: 0;
	left: 0;
	animation: all 0.8s; 
}
.bg:hover .ad-r {
	width: 990px;
}
.grid-col1 ul{
	padding: 15px 0;
}
.grid-col1 ul li{
	padding-left: 12px;
	height: 28px;
	line-height: 26px;
}
.grid-col1 ul li:hover{
	background-color: #9c9698;
}
.grid-col1 ul li a{
	color: #fff;
	font-size: 14px;
	margin: 0 3px;
}
.grid-col1 ul li a:hover{
	color: #f10;
}

/*banner部分*/
.grid-col2{
	width: 790px;
	height: 100%;
	margin: 0 10px;
}
.grid-col2-l{
	position: relative;
	
}
	/*图片箭头部分*/
.arrow-l,
.arrow-r{
	position: absolute;
	top: 50%;
	width: 30px;
	height: 60px;
	background:rgba(0,0,0,0.2);
	transform:translateY(-50%);
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	font-family: arial;
	font-weight: normal;
	color: rgba(255,255,255,0.5);
}
.arrow-r{ 
	right: 0;
}
.circle{
	position: absolute;
	width: 175px;
	height: 25px;
	bottom: 20px;
	left: 50%;
	transform:translateX(-50%);
	background: rgba(255,255,255,0.2);
	border-radius: 10px;
}
.circle li{
	float: left;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 5px 5px;
	background: rgba(255,255,255,0.7);
	cursor: pointer; 
}
.circle li:hover{
	background: rgba(255,0,0,0.7);
}
.grid-col2-r-2 {
    margin: 6px 0;
}

.grid-col3{
	width: 190px;
	height: 100%;
}
/*右边模块*/
.login{
	height:115px;
	border-bottom: 1px solid #ccc;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
	background-color: #fff;
}
.user-info{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 15px;
	top: 15px;
	border-radius: 50%;
}
.login-b a{
	display: inline-block;
	width: 70px;
	height: 20px;
	border: 2px solid red;
	margin-right: 3px;
	line-height: 20px;
	text-align: center;
	color: #f10125;
}
.login-b a:hover{
	background-color: #f10125;
	color: #fff;
}
.login-t {
	width: 95px;
	height: 60px;
	line-height: 20px;
	font-size: 12px;
	color: #666;
	padding-left: 60px;
	white-space: nowrap;/*强制一行显示*/
	overflow: hidden;/*溢出隐藏*/
	text-overflow: ellipsis;/*超出部分显示省略号*/
}
.login-t a{
	color: #666; 
}
.login-t a:hover{
	color: #f10125;
}
/*新闻模块*/
.news{
	height: 145px;
	border-bottom:  1px solid #ccc;
	padding: 7px 13px 0;
	box-sizing: border-box;
	background-color: #fff;
} 
.news-t{
	height: 19px;
	border-bottom: 1px solid #d1d1d1;
}
.news-t a{
	font-size: 13px;
	color: #333;
}
.news-t a:hover{
	color: #f10125;
	border-bottom: #f10125;
}
.cuxiao{
	width: 38px;
	height: 17px;
	line-height: 17px;
	border-right: 1px solid #d1d1d1;
}
.gonggao{
	padding-left: 10px;
} 
.news-b{
	padding-left: 0px;
}
.news-b li{
	height: 23px;
	line-height: 23px;
}
.expand{
	height: 210px;
	background-color: #fff;
}
.expand ul{
	width: 195px;
}
.expand li{
	float: left;
	width: 47px;
	height: 69px;
	border-right:1px solid #ccc; 
	border-bottom:1px solid #ccc; 
}
.expand li:nth-child(4n){
	border-right:0;
}
.expand li a{
	display: block;
	padding-top: 15px;
	text-align: center;
}
.expand li i{
	width: 20px;
	height: 23px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../images/iphone.png);
}